a {
  color: steelblue;

}

#mydetails{
     width: 300px;
     height: 100px;
     background: steelblue;
     position: relative;
     top: -600px;
     animation: mymove 15s infinite;
}
@keyframes mymove {
  from {background-color: steelblue;}
  to {background-color: lightblue;}
  from {left: -300px}
  to {left: 2800px}
}
